<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/recipe_searchbox.css}" />
  </th:block>

  <div layout:fragment="content">
    <!-- Categories Section Begin -->
    <section class="categories">
      <div class="container">
        <div class="row">
          <!-- main 카테고리 및 card -->
          <div id="webcrumbs">
            <div class="w-[1200px] bg-white shadow rounded-lg p-4">
              <!-- <div
                class="bg-white border-y border-neutral-200 py-2 text-center mb-6"
              >
                <span class="text-lime-500 font-title">카테고리 닫기 &gt;</span>
              </div> -->

              <!-- search box 영역 -->
              <!-- 제목 or 설명 검색 -->
              <div class="row mb-3">
                <div class="col-lg-12">
                  <!-- search box -->
                  <div class="hero__search">
                    <div class="hero__search__form">
                      <form action="#">
                        <input type="text" placeholder="What do yo u need?" />
                        <button type="submit" class="site-btn">SEARCH</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <nav
                class="bg-white flex gap-4 text-lime-950 mb-6 items-center border-y border-neutral-200 py-2 row"
              >
                <span class="text-lg text-lime-500 font-title col-2"
                  >종류별</span
                >
                <div class="flex flex-wrap gap-4 col-9">
                  <button
                    type="button"
                    class="category-btn px-4 py-1 bg-lime-100 text-lime-500 font-title rounded-full active"
                  >
                    전체
                  </button>
                  <!-- RecipeCategory의 name 반복 출력 -->
                  <button
                    type="button"
                    th:each="category : ${categoryList}"
                    class="category-btn px-4 py-1 bg-neutral-100 text-neutral-500 rounded-full"
                    th:text="${category.name}"
                  >
                    <!-- 카테고리 이름이 여기에 들어감 -->
                  </button>
                </div>
              </nav>
              <div class="bg-white flex justify-between items-center mb-6">
                <p class="text-lime-950 text-lg">
                  총 <span class="text-lime-500">234,946</span>개의 맛있는
                  레시피가 있습니다.&nbsp;
                  <!-- 작성 버튼 -->
                  <a
                    class="btn btn-outline-warning"
                    th:href="@{/recipe/create}"
                  >
                    <i class="fa-solid fa-square-pen"></i>
                  </a>
                </p>

                <div class="flex space-x-4">
                  <button
                    type="button"
                    class="px-4 py-1 bg-neutral-100 text-lime-950 rounded-full"
                  >
                    최신순
                  </button>
                  <button
                    type="button"
                    class="px-4 py-1 bg-lime-100 text-lime-500 rounded-full"
                  >
                    추천순
                  </button>
                </div>
              </div>
              <!-- 카드그룹 -->
              <div
                class="bg-neutral-100 p-4 rounded-lg card-group"
                name="cardGroup"
                id="cardGroup"
              >
                <!-- 카드 영역 -->
                <div class="row row-cols-1 row-cols-md-4 g-4">
                  <div class="col mb-5">
                    <div class="card">
                      <img
                        src="https://placehold.co/300x300/png"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">Card title1</h5>
                        <p class="card-text">
                          This is a longer card with supporting text below as a
                          natural lead-in to additional content. This content is
                          a little bit longer.
                        </p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">
                          <button type="button" class="btn btn-outline-info">
                            <i class="fa-solid fa-circle-user"></i>
                          </button>
                          닉네임 | 조회수 240</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img
                        src="https://placehold.co/300x300/png"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">Card title2</h5>
                        <p class="card-text">
                          This is a longer card with supporting text below as a
                          natural lead-in to additional content. This content is
                          a little bit longer.
                        </p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary"
                          ><a href="#">
                            <i class="fa-solid fa-circle-user"></i> </a
                          >닉네임 | 조회수 240</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img
                        src="https://placehold.co/300x300/png"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">Card title3</h5>
                        <p class="card-text">
                          This is a longer card with supporting text below as a
                          natural lead-in to additional content. This content is
                          a little bit longer.
                        </p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary"
                          ><a href="#">
                            <i class="fa-solid fa-circle-user"></i> </a
                          >닉네임 | 조회수 240</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img
                        src="https://placehold.co/300x300/png"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">Card title4</h5>
                        <p class="card-text">
                          This is a longer card with supporting text below as a
                          natural lead-in to additional content. This content is
                          a little bit longer.
                        </p>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary"
                          ><a href="#">
                            <i class="fa-solid fa-circle-user"></i> </a
                          >닉네임 | 조회수 240</small
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Card-Group 끝 -->
              <!-- Pagination 영역 -->
              <div class="row mt-5 mb-5">
                <div class="col-lg-12">
                  <div class="product__pagination blog__pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <!-- Pagination 영역 끝 -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Categories Section End -->
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const buttons = document.querySelectorAll(".category-btn");

      buttons.forEach((button) => {
        button.addEventListener("click", () => {
          // 모든 버튼을 비활성화 상태로 설정
          buttons.forEach((btn) => {
            btn.classList.remove("bg-lime-100", "text-lime-500", "font-title");
            btn.classList.add("bg-neutral-100", "text-neutral-500");
          });

          // 클릭한 버튼에 활성화 상태 설정
          button.classList.add("bg-lime-100", "text-lime-500", "font-title");
          button.classList.remove("bg-neutral-100", "text-neutral-500");
        });
      });
    });
  </script>
  <th:block layout:fragment="js">
    <!-- <script>
      const csrfValue = "[[${_csrf.token}]]";
    </script> -->
    <script th:src="@{/js/recipeMain.js}"></script>
    <!-- <script th:src="@{/js/create.js}"></script> -->
  </th:block>
</html>
