<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/recipe_read.css}" />
  </th:block>

  <div layout:fragment="content">
    <div id="webcrumbs">
      <div class="w-[1100px] mx-auto bg-white shadow rounded-lg px-[50px] py-6">
        <div class="relative pt-[60px] mx-[138px]">
          <img
            th:if="${recipe != null and recipe.recipeImageDtos != null and !recipe.recipeImageDtos.empty}"
            th:src="@{/upload/display(fileName=${recipe.recipeImageDtos[0].path})}"
            alt="대표 이미지"
            class="w-[1000px] h-[400px] object-cover rounded-t-lg mx-auto"
          />
          <!--대표이미지 embed: src="https://tools-api.webcrumbs.org/image-placeholder/760/400/food/1" -->
          <img
            th:unless="${recipe != null and recipe.recipeImageDtos != null and !recipe.recipeImageDtos.empty}"
            src="https://tools-api.webcrumbs.org/image-placeholder/760/400/food/1"
            alt="embed 기본 이미지"
            class="w-[1000px] h-[400px] object-cover rounded-t-lg mx-auto"
          />

          <!-- 사진 위에 조회수 -->
          <div class="absolute top-[410px] left-4">
            <div
              class="bg-black/60 text-primary-50 text-xs px-2 py-1 rounded-md flex items-center"
            >
              <span class="material-symbols-outlined text-sm mr-1"></span>
              <span th:text="${recipe.viewCount}"></span>
            </div>
          </div>
        </div>

        <!-- 작성자 및 레시피 정보 -->
        <div class="p-4 text-center mx-[138px]">
          <div class="relative inline-block">
            <img
              src="https://tools-api.webcrumbs.org/image-placeholder/110/110/food/2"
              alt="Circular Image"
              class="w-[110px] h-[110px] object-cover rounded-full mx-auto mb-2"
            />
            <p
              class="text-primary-950 font-medium text-sm mt-1"
              th:text="작성자: ${recipe.userid}"
            ></p>
          </div>
          <h1
            class="font-title text-2xl text-lime-600 mt-4 mb-2"
            th:text="${recipe.title}"
          ></h1>
          <p class="text-neutral-700 mb-4" th:text="${recipe.content}"></p>

          <!-- 요리 정보 -->
          <div
            class="flex items-center justify-center gap-4 border-y border-neutral-300 py-2 mb-4"
          >
            <i
              class="fa-solid fa-user-group text-primary-500 text-lg"
              th:text="${recipe.serving}인분"
            ></i>
            <i
              class="fa-solid fa-stopwatch text-primary-500 text-lg"
              th:text="${recipe.time}분이내"
            ></i>
            <i
              class="fa-solid fa-ranking-star text-primary-500 text-lg"
              th:text="${recipe.difficulty == '1' ? '초급' : 
            recipe.difficulty == '2' ? '보통' : 
            recipe.difficulty == '3' ? '어려움' : 
            recipe.difficulty == '4' ? '매우 어려움' : 
            recipe.difficulty == '5' ? '신의 경지'}"
            ></i>
          </div>
        </div>
        <div class="p-4">
          <div
            class="flex items-center justify-between border-b border-neutral-300 pb-2 mb-4"
          >
            <button
              class="px-4 py-2 bg-lime-600 text-primary-50 rounded-md hover:bg-lime-700"
            >
              수정버튼
            </button>
          </div>

          <!-- 재료 목록 -->
          <table class="w-full mb-6 border border-neutral-300">
            <thead>
              <tr class="bg-neutral-100">
                <th class="p-2 text-left border border-neutral-300">
                  [재료] Ingredients
                </th>
                <th class="p-2 text-left border border-neutral-300">
                  Quantity
                </th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="ingredient : ${recipe.recipeIngredientDtos}">
                <td
                  class="p-2 border border-neutral-300"
                  th:text="${ingredient.name}"
                ></td>
                <td
                  class="p-2 border border-neutral-300"
                  th:text="${ingredient.quantity}"
                ></td>
              </tr>
            </tbody>
          </table>

          <!-- 조리 step 순서 -->
          <div class="my-6 border-t border-neutral-300"></div>
          <h2 class="font-title text-lg text-primary-950 mb-4">
            조리순서 Steps
          </h2>
          <div class="space-y-6">
            <div class="flex gap-4" th:each="step : ${recipe.recipeStepDtos}">
              <div
                class="flex-none w-10 h-10 flex items-center justify-center bg-lime-400 text-primary-50 rounded-full"
                th:text="Step ${stepStat.count}"
              ></div>
              <div class="basis-7/12">
                <p
                  class="text-neutral-700 text-left"
                  th:text="${step.content}"
                ></p>
              </div>
              <div class="basis-5/12">
                <img
                  th:if="${step.uuid != null}"
                  th:src="@{/upload/display(fileName=${step.path})}"
                  th:alt="Step ${stepStat.count}"
                  class="w-full h-[240px] object-cover rounded-md"
                />
                <!--embed 사진: src="https://tools-api.webcrumbs.org/image-placeholder/360/240/food/2" -->
              </div>
            </div>
            <!-- <div class="flex gap-4">
              <div
                class="flex-none w-10 h-10 flex items-center justify-center bg-lime-400 text-primary-50 rounded-full"
              >
                2
              </div>
              <div class="basis-7/12">
                <p class="text-neutral-700 text-left">
                  멸치 육수를 준비하고, 각종 해물과 야채를 넣고 끓입니다.
                </p>
              </div>
              <div class="basis-5/12">
                <img
                  src="https://tools-api.webcrumbs.org/image-placeholder/360/240/food/3"
                  alt="Step 2"
                  class="w-full h-[240px] object-cover rounded-md"
                />
              </div>
            </div>
            <div class="flex gap-4">
              <div
                class="flex-none w-10 h-10 flex items-center justify-center bg-lime-400 text-primary-50 rounded-full"
              >
                3
              </div>
              <div class="basis-7/12">
                <p class="text-neutral-700 text-left">
                  각종 양념을 더해 맛을 조절한 후 완성합니다.
                </p>
              </div>
              <div class="basis-5/12">
                <img
                  src="https://tools-api.webcrumbs.org/image-placeholder/360/240/food/4"
                  alt="Step 3"
                  class="w-full h-[240px] object-cover rounded-md"
                />
              </div>
            </div> -->
          </div>
          <div class="mt-6">
            <img
              src="https://tools-api.webcrumbs.org/image-placeholder/760/400/food/5"
              alt="Completed Dish"
              class="w-full h-[400px] object-cover rounded-md"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <th:block layout:fragment="js">
    <!-- <script>
      const csrfValue = "[[${_csrf.token}]]";
    </script> -->
    <script th:src="@{/js/recipe_main.js}"></script>
    <!-- <script th:src="@{/js/create.js}"></script> -->
  </th:block>
</html>
