.diner-main-img-and-map {
  white-space: nowrap;
  display: flex;
}
.diner-main-img {
  display: inline-block;
}
.diner-map {
  display: inline-block;
}
.diner-overview-section {
  border: 1px solid;
  padding: 5px;
  height: 250px;
  max-height: 300px;
}
.diner-overview-section .col-lg-3 {
  border: 1px solid;
}
.diner-overview-section .col-lg-6 {
  border: 1px solid;
}

.review-image-section {
  padding: 5px;
  border: 1px solid;
  max-height: 220px;
}

.review-two-column-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.review-list-item {
  border: 1px solid;
  flex-shrink: 0;
  width: 584px;
  padding: 10px 0 10px 25px;
}
.review-reviewer-img {
  float: left;
}
.review-info {
  display: block;
}
.review-score {
  display: block;
}
