<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <!-- 페이지 별 css -->
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/diner/list.css}" />
  </th:block>
  <div layout:fragment="content">
    <!-- Ranking Carousel Section Begin -->
    <section class="categories ranking-carousel-section">
      <div class="container">
        <div class="row">
          <div class="diners__slider owl-carousel">
            <div class="col-lg-12">
              <div class="diners__item set-bg" data-setbg="https://placehold.co/1080x360"></div>
            </div>
            <div class="col-lg-12">
              <div class="diners__item set-bg" data-setbg="https://placehold.co/1080x360"></div>
            </div>
            <div class="col-lg-12">
              <div class="diners__item set-bg" data-setbg="https://placehold.co/1080x360"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Ranking Carousel Section End -->

    <!-- Blog Section Begin -->
    <section class="diner-list">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="tag-element">
              <a class="active" title="목록 항목 선택됨" href="#">전체</a>
              <a th:each="category : ${categories}" th:text="${category.name}" href="#"></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="sort-element">
              <div class="float-left">
                <ul class="sort-menu">
                  <li class="active">
                    <a href="#" title="목록 항목 선택됨">등록순</a>
                  </li>
                  <li>
                    <a href="#">조회순</a>
                  </li>
                  <li>
                    <a href="#">가나다순</a>
                  </li>
                </ul>
              </div>
              <div class="float-right">
                <input type="hidden" id="keyword_open_text" value="키워드검색 메뉴 열기" />
                <input type="hidden" id="keyword_close_text" value="선택됨 키워드검색 메뉴 닫기" />
                <input
                  type="hidden"
                  id="keyword_open_sel_text"
                  value="선택됨 키워드검색 메뉴 열기"
                />

                <input type="hidden" id="list_sel_msg" value="목록 항목 선택됨 페이지 이동" />
                <input type="hidden" id="page_msg" value="페이지 이동" />

                <div class="select-btn-element">
                  <a href="#" class="btn-keyword" title="키워드검색 메뉴 열기"
                    ><i class="fa-solid fa-magnifying-glass"></i>  검색</a
                  >
                  <div class="search-layer" style="display: none">
                    <div class="search-layer-inner">
                      <div class="keyword-select-element">
                        <label for="keyword_text" class="hd-element">키워드</label>
                        <input
                          type="text"
                          id="keyword_text"
                          name="srchWord"
                          value=""
                          placeholder="키워드"
                        />
                        <button type="button" onclick="javascript:btnSumit();">검색</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <th:block th:each="diner : ${result.dtoList}">
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="blog__item">
                <div class="blog__item__pic">
                  <img
                    th:src="|/upload/display?fileName=${diner.dinerImageDtos[0].getImageURL()}|"
                    th:if="${diner.dinerImageDtos.size() > 0 && diner.dinerImageDtos[0].path != null}"
                    alt=""
                    loading="lazy"
                    width="220px"
                    height="150px"
                  />
                </div>
                <div class="blog__item__text">
                  <ul>
                    <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                    <li><i class="fa fa-comment-o"></i> 5</li>
                  </ul>
                  <h5><a href="#" th:text="${diner.name}"></a></h5>
                  <p th:text="${diner.content}"></p>
                </div>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </section>
    <!-- Blog Section End -->

    <section class="section-pagination">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item" th:if="${result.prev}">
                  <a class="page-link" th:href="@{list(page=${result.start-1},size=${result.size},type=${requestDto.type},keyword=${requestDto.keyword})}">Previous</a>
                </li>
                <li class="page-item" th:each="page : ${result.pageList}">
                  <a class="page-link" th:href="@{list(page=${page},size=${result.size},type=${requestDto.type},keyword=${requestDto.keyword})}" th:text="${page}"></a>
                </li>
                <li class="page-item">
                  <a class="page-link" th:href="@{list(page=${result.end+1},size=${result.size},type=${requestDto.type},keyword=${requestDto.keyword})}">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- 페이지 별 js 영역 -->
  <th:block layout:fragment="js">
    <script th:src="@{/js/diner/list.js}"></script>
  </th:block>
</html>
