<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <!-- 페이지 별 css -->
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/diner/list.css}"/>
  </th:block>
  <div layout:fragment="content">
    <!-- Ranking Carousel Section Begin -->
    <section class="ranking-carousel-section">
      <div class="container">
        <div class="row">
          <div id="diner-ranking-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#diner-ranking-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#diner-ranking-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#diner-ranking-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <th:block th:each="diner, stat : ${result.dtoList}" th:if="${stat.index} < 3">
                <div class="carousel-item active">
                  <img th:src="|/dfup/display?fileName=${diner.dinerImageDtos[0].getImageURL()}|" th:if="${diner.dinerImageDtos.size() > 0 && diner.dinerImageDtos[0].path != null}" alt="" loading="lazy" width="1180px" height="360px" th:onclick="|location.href='@{/diner/read(did=${diner.did})}'|">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>slide label</h5>
                    <p>Some representative placeholder content for the slide.</p>
                  </div>
                </div>
              </th:block>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#diner-ranking-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#diner-ranking-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </section>
    <!-- Ranking Carousel Section End -->

    <!-- Blog Section Begin -->
    <section class="diner-list">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="tag-element">
              <a class="active" title="목록 항목 선택됨" th:href="@{list(page=1,size=${result.size},type=null,keyword=null)}">전체</a>
              <a th:each="category : ${categories}" th:text="${category.name}" th:href="@{list(page=1,size=${result.size},type=c,keyword=${category.name})}"></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="sort-element">
              <div class="float-left">
                <!-- <ul class="sort-menu"> <li class="active"> <a href="#" title="목록 항목 선택됨">등록순</a> </li> <li> <a href="#">조회순</a> </li> <li> <a href="#">가나다순</a> </li> </ul> -->
              </div>
              <div class="float-right">
                <div class="search-layer-inner">
                  <form class="keyword-search" method="get">
                    <input type="hidden" name="page" value="1"/>
                    <input type="hidden" name="size" th:value="${requestDto.size}"/>
                    <input type="hidden" name="type" value="n"/>
                    <input type="text" id="keyword" name="keyword"/>
                    <button class="btn btn-outline-dark">
                      <i class="fa-solid fa-magnifying-glass"></i>
                      <span>검색</span>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <th:block th:each="diner : ${result.dtoList}">
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="blog__item" style="cursor: pointer" th:onclick="|location.href='@{/diner/read(did=${diner.did})}'|">
                <div class="blog__item__pic">
                  <img th:src="|/dfup/display?fileName=${diner.dinerImageDtos[0].getImageURL()}|" th:if="${diner.dinerImageDtos.size() > 0 && diner.dinerImageDtos[0].path != null}" alt="" loading="lazy" width="220px" height="150px"/>
                </div>
                <div class="blog__item__text">
                  <ul>
                    <li>
                      <i class="fa fa-calendar-o"></i>
                      <span th:text="${#temporals.format(diner.regDate, 'yyyy-MM-dd')}"></span>
                    </li>
                    <li>
                      <i class="fa fa-comment-o"></i>
                      5</li>
                  </ul>
                  <h5>
                    <a href="#" th:text="${diner.name}"></a>
                  </h5>
                  <p th:text="${diner.content}"></p>
                </div>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </section>
    <!-- Blog Section End -->

    <section class="section-pagination">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item" th:if="${result.prev}">
                  <a class="page-link" th:href="@{list(page=${result.start-1},size=${result.size},type=${requestDto.type},keyword=${requestDto.keyword})}">Previous</a >
                </li>
                <li class="page-item" th:each="page : ${result.pageList}">
                  <a class="page-link" th:href="@{list(page=${page},size=${result.size},type=${requestDto.type},keyword=${requestDto.keyword})}" th:text="${page}"></a>
                </li>
                <li class="page-item">
                  <a class="page-link" th:href="@{list(page=${result.end+1},size=${result.size},type=${requestDto.type},keyword=${requestDto.keyword})}">Next</a >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- 페이지 별 js 영역 -->
  <th:block layout:fragment="js">
    <script th:src="@{/js/diner/list.js}"></script>
  </th:block>
</html>
