<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <!-- 페이지 별 css -->
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/diner/read.css}" />
  </th:block>
  <div layout:fragment="content">
    <div class="container diner-view">
      <div class="diner-main-img-and-map">
        <div class="col-lg-9 diner-main-img">
          <img src="https://placehold.co/1080x480" alt="" />
        </div>
        <div class="col-lg-3 diner-map">
          <div class="row"><img src="https://placehold.co/320x320" alt="" /></div>
          <div class="row mt-3">
            <h5>식당 주소</h5>
          </div>
          <div class="row mt-3">
            <h5>식당 상세 주소</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-3 diner-overview-section">
        <div class="col-lg-3">
          <div class="row"><h3>식당 이름</h3></div>
          <div class="row">
            <div class="col">지역명</div>
            <div class="col">카테고리</div>
          </div>
          <div class="row">영업시간</div>
        </div>

        <div class="col-lg-6"><h3>소개글</h3></div>
        <div class="col-lg-3"><h3>메뉴 정보</h3></div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-3 review-image-section">
        <div class="col">
          <div>종합 별점</div>
          <div>맛</div>
          <div>가격</div>
          <div>서비스</div>
        </div>
        <div class="col"><button class="btn btn-success">리뷰쓰기</button></div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row review-two-column">
        <ul class="review-two-column-list">
          <li class="review-list-item">
            <div class="review-reviewer-img"><img src="https://placehold.co/50x50" alt="" /></div>
            <table class="review-table">
              <tr>
                <td>작성자</td>
                <td>작성일</td>
              </tr>
              <tr>
                <td>총점</td>
                <td>맛</td>
                <td>가격</td>
                <td>서비스</td>
              </tr>
            </table>
            <div class="row">review text</div>
            <div class="row">
              <img src="https://placehold.co/70x70" alt="" />
              <img src="https://placehold.co/70x70" alt="" />
              <img src="https://placehold.co/70x70" alt="" />
              <img src="https://placehold.co/70x70" alt="" />
              <img src="https://placehold.co/70x70" alt="" />
            </div>
          </li>
          <li class="review-list-item">
            <div class="review-reviewer-img"><img src="https://placehold.co/50x50" alt="" /></div>
            <div class="review-info">
              <span>작성자</span>
              <span>작성일</span>
            </div>
            <div class="review-score">
              <span>총점</span>
              <span>맛</span>
              <span>가격</span>
              <span>서비스</span>
            </div>
            <div class="row">review text</div>
            <div class="row">
              <img src="https://placehold.co/70x70" alt="" />
              <img src="https://placehold.co/70x70" alt="" />
              <img src="https://placehold.co/70x70" alt="" />
              <img src="https://placehold.co/70x70" alt="" />
              <img src="https://placehold.co/70x70" alt="" />
            </div>
          </li>
          <li class="review-list-item">
            <div class="review-reviewer-img"><img src="https://placehold.co/50x50" alt="" /></div>
            <table class="review-table">
              <tr>
                <td>작성자</td>
                <td>작성일</td>
              </tr>
              <tr>
                <td>총점</td>
                <td>맛</td>
                <td>가격</td>
                <td>서비스</td>
              </tr>
            </table>
            <div class="row">review text</div>
            <div class="row">
              <img src="https://placehold.co/70x70" alt="" />
              <img src="https://placehold.co/70x70" alt="" />
              <img src="https://placehold.co/70x70" alt="" />
              <img src="https://placehold.co/70x70" alt="" />
              <img src="https://placehold.co/70x70" alt="" />
            </div>
          </li>
          <li class="review-list-item">
            <div class="review-reviewer-img"><img src="https://placehold.co/50x50" alt="" /></div>
            <table class="review-table">
              <tr>
                <td>작성자</td>
                <td>작성일</td>
              </tr>
              <tr>
                <td>총점</td>
                <td>맛</td>
                <td>가격</td>
                <td>서비스</td>
              </tr>
            </table>
            <div class="row">review text</div>
            <div class="row">
              <img src="https://placehold.co/70x70" alt="" />
              <img src="https://placehold.co/70x70" alt="" />
              <img src="https://placehold.co/70x70" alt="" />
              <img src="https://placehold.co/70x70" alt="" />
              <img src="https://placehold.co/70x70" alt="" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 페이지 별 js 영역 -->
  <th:block layout:fragment="js"> </th:block>
</html>
