<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <!-- 페이지 별 css -->
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/diner/register.css}" />
  </th:block>
  <div layout:fragment="content">
    <section class="diner-register">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row justify-content-center mt-5">
              <h4>식당 등록</h4>
            </div>
            <form>
              <div class="register-items">
                <div class="row justify-content-center">
                  <div class="row align-items-center mt-3">
                    <div class="col col-lg-1">
                      <select class="form-select">
                        <option selected>분류</option>
                        <option value="1">한식</option>
                        <option value="2">양식</option>
                        <option value="3">중식</option>
                        <option value="4">일식</option>
                        <option value="5">기타</option>
                      </select>
                    </div>
                  </div>
                  <div class="col col-lg-5 mb-3">
                    <label for="dinerName" class="form-label">이름</label>
                    <input type="text" class="form-control" id="dinerName" name="dinerName" />
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="col-lg-3 mb-3">
                    <label for="dinerPhone" class="form-label">전화번호</label>
                    <input type="text" class="form-control" id="dinerPhone" name="dinerPhone" />
                  </div>
                  <div class="col-lg-3 mb-3">
                    <label for="dinerRegNum" class="form-label">사업자 등록번호</label>
                    <input type="text" class="form-control" id="dinerRegNum" name="dinerRegNum" />
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="col-lg-6 mb-3">
                    <label for="dinerAddr" class="form-label">주소</label>
                    <input type="text" class="form-control" id="dinerAddr" name="dinerAddr" />
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="col-lg-6 mb-3">
                    <label for="dinerAddrDetail" class="form-label">상세주소</label>
                    <input
                      type="text"
                      class="form-control"
                      id="dinerAddrDetail"
                      name="dinerAddrDetail"
                    />
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="col-lg-6 mb-3">
                    <label for="dinerDesc" class="form-label">소개글</label>
                    <textarea class="form-control" id="dinerDesc" name="dinerDesc" rows="10">
                    </textarea>
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="col-lg-6 mb-3">
                    <label for="dinerMenu" class="form-label">메뉴 정보</label>
                    <textarea class="form-control" id="dinerMenu" name="dinerMenu" rows="5">
                    </textarea>
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="col-lg-6 mb-3">
                    <label for="dinerTime" class="form-label">영업 시간</label>
                    <textarea class="form-control" id="dinerTime" name="dinerTime" rows="5">
                    </textarea>
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="col-lg-6 mb-3">
                    <div class="upload-box">
                      <div id="drop-file" class="drag-file">
                        <i class="fa-regular fa-image fa-lg"></i>
                        <p class="message mt-3">Drag files to upload</p>
                      </div>
                    </div>
                    <label for="dinerImage" class="diner-image-label">사진 업로드</label>
                    <input
                      type="file"
                      class="file"
                      id="dinerImage"
                      name="dinerImage"
                      multiple
                      onchange="dropFile.handleFiles(this.files)"
                    />
                    <div id="files" class="files">
                      <div class="file"></div>
                    </div>
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="col-6 mb-3">
                    <button type="submit" class="btn btn-primary">작성 완료</button>
                    <button type="submit" class="btn btn-success">목록</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- 페이지 별 js 영역 -->
  <th:block layout:fragment="js">
    <script th:src="@{/assets/js/diner/register.js}"></script>
  </th:block>
</html>
