<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <!-- 페이지 별 css -->
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/diner/upload.css}" />
    <link rel="stylesheet" th:href="@{/css/diner/review.css}" />
  </th:block>
  <div layout:fragment="content">
    <section class="diner-register">
      <div class="container">
        <div class="row title-row">
          <div class="col-lg-12">
            <h4>리뷰 작성</h4>
          </div>
        </div>
        <form action="">
          <div class="row star-rating-row mt-3">
            <div class="col-lg-12">
              <div class="row justify-content-center">
                <div class="col-md-auto">
                  <h6>맛</h6>
                  <div class="star-rating">
                    <img
                      src="https://img.icons8.com/?size=30&id=XghFnrM2lzSW&format=png&color=7fad39"
                      alt=""
                    />
                    <img
                      src="https://img.icons8.com/?size=30&id=XghFnrM2lzSW&format=png&color=7fad39"
                      alt=""
                    />
                    <img
                      src="https://img.icons8.com/?size=30&id=XghFnrM2lzSW&format=png&color=7fad39"
                      alt=""
                    />
                    <img
                      src="https://img.icons8.com/?size=30&id=XghFnrM2lzSW&format=png&color=7fad39"
                      alt=""
                    />
                    <img
                      src="https://img.icons8.com/?size=30&id=XghFnrM2lzSW&format=png&color=7fad39"
                      alt=""
                    />
                  </div>
                </div>

                <div class="col-md-auto">
                  <h6>가격</h6>
                  <div class="star-rating">
                    <img
                      src="https://img.icons8.com/?size=30&id=EZ5j1vem6LAO&format=png&color=7fad39"
                      alt=""
                    />
                    <img
                      src="https://img.icons8.com/?size=30&id=EZ5j1vem6LAO&format=png&color=7fad39"
                      alt=""
                    />
                    <img
                      src="https://img.icons8.com/?size=30&id=EZ5j1vem6LAO&format=png&color=7fad39"
                      alt=""
                    />
                    <img
                      src="https://img.icons8.com/?size=30&id=EZ5j1vem6LAO&format=png&color=7fad39"
                      alt=""
                    />
                    <img
                      src="https://img.icons8.com/?size=30&id=EZ5j1vem6LAO&format=png&color=7fad39"
                      alt=""
                    />
                  </div>
                </div>

                <div class="col-md-auto">
                  <h6>서비스</h6>
                  <div class="star-rating">
                    <img
                      src="https://img.icons8.com/?size=30&id=EZ5j1vem6LAO&format=png&color=7fad39"
                      alt=""
                    />
                    <img
                      src="https://img.icons8.com/?size=30&id=EZ5j1vem6LAO&format=png&color=7fad39"
                      alt=""
                    />
                    <img
                      src="https://img.icons8.com/?size=30&id=EZ5j1vem6LAO&format=png&color=7fad39"
                      alt=""
                    />
                    <img
                      src="https://img.icons8.com/?size=30&id=EZ5j1vem6LAO&format=png&color=7fad39"
                      alt=""
                    />
                    <img
                      src="https://img.icons8.com/?size=30&id=EZ5j1vem6LAO&format=png&color=7fad39"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row content-row justify-content-center">
            <div class="col-lg-6 mt-3 text-content">
              <label for="reviewDesc" class="form-label">리뷰 내용</label>
              <textarea class="form-control" id="reviewDesc" name="reviewDesc" rows="8"> </textarea>
            </div>
          </div>
          <div class="row upload-row justify-content-center">
            <div class="col-lg-6 mb-3">
              <div class="contents upload-section">
                <div class="upload-box">
                  <div id="drop-file" class="drag-file">
                    <img
                      src="https://img.icons8.com/pastel-glyph/2x/image-file.png"
                      alt="파일 아이콘"
                      class="image"
                    />
                    <p class="message mt-3">Drag files to upload</p>
                  </div>
                </div>
                <label class="file-label" for="chooseFile">사진 업로드</label>
                <input
                  class="file"
                  id="chooseFile"
                  type="file"
                  multiple
                  onchange="dropFile.handleFiles(this.files)"
                />
                <div id="files" class="files">
                  <div class="file"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row buttons-row justify-content-center">
            <button type="submit" class="btn btn-dark m-1">등록</button>
            <button type="button" class="btn btn-dark m-1" id="reviewCloseBtn">취소</button>
          </div>
        </form>
      </div>
    </section>
  </div>
  <!-- 페이지 별 js 영역 -->
  <th:block layout:fragment="js"> </th:block>
</html>
