<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ogani Template" />
    <meta name="keywords" content="Ogani, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="/assets/css/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/elegant-icons.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/assets/css/nice-select.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/assets/css/jquery-ui.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/owl.carousel.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/slicknav.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/assets/css/market/popup.css"
      type="text/css"
    />
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
      <div class="header__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
              <div class="header__top__right"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="header__logo">
              <a th:href="@{/templates/main}"
                ><img src="/assets/img/logo.png" alt=""
              /></a>
            </div>
          </div>
          <div class="col-lg-6">
            <nav class="header__menu">
              <ul>
                <li><a href="./index.html">Home</a></li>
                <li class="active"><a href="./shop-grid.html">Shop</a></li>
                <li>
                  <a href="#">Pages</a>
                  <ul class="header__menu__dropdown">
                    <li><a href="./details.html">Shop Details</a></li>
                    <li><a href="./cart.html">Shoping Cart</a></li>
                    <li><a href="./order.html">Check Out</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3">
            <div class="header__cart">
              <ul>
                <li>
                  <a href="#"><i class="fa fa-heart"></i> <span>1</span></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-shopping-bag"></i> <span>3</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="humberger__open">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section
      class="breadcrumb-section set-bg"
      data-setbg="/assets/img/breadcrumb.jpg"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="breadcrumb__text">
              <h2 th:text="${dto.name}"></h2>
              <div class="breadcrumb__option">
                <a th:href="@{/market/list}">Home</a>
                <a href="./index.html">Vegetables</a>
                <!-- <span th:text="${dto.name}"></span> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6" th:value="${dto.pid}">
            <div class="product__details__pic">
              <div class="product__details__pic__item">
                <img
                  class="product__details__pic__item--large"
                  th:src="@{/assets/img/product/fruits/product-__${dto.pid}__.jpg}"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="product__details__text">
              <h3 th:text="${dto.name}"></h3>

              <div class="product__details__price" th:text="${dto.price}"></div>
              <p th:text="${dto.productDetail}"></p>
              <div class="product__details__quantity">
                <div class="quantity" th:data-quantity="${dto.quantity}">
                  <div class="pro-qty">
                    <input type="text" value="1" name="quantity" readonly />
                  </div>
                </div>
              </div>
              <a href="#" class="primary-btn" id="addToCartBtn">ADD TO CART</a>
              <a th:href="@{/market/order}" class="primary-btn" id="order"
                >ORDER</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Popup Section Begin -->
    <div id="customPopup" class="popup" style="display: none">
      <div class="popup__content">
        <span id="popupClose" class="popup__close">&times;</span>
        <p id="popupMessage">팝업 메시지 입니다</p>
      </div>
    </div>
    <!-- Popup Section End -->

    <form th:action="@{/market/cart}" method="post" id="addCartForm">
      <input type="hidden" name="quantity" value="" />
      <input type="hidden" name="pid" th:value="${dto.pid}" />
    </form>

    <!-- Js Plugins -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/jquery.slicknav.js"></script>
    <script src="/assets/js/mixitup.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
  <!-- 사용자 스크립트 추가 -->
  <th:block layout:fragment="script">
    <script>
      //상품의 잔여수량
      const quantity = parseInt("[[${dto.quantity}]]");
    </script>
    <script th:src="@{/market/details.js}"></script>
  </th:block>
</html>
