<!DOCTYPE html>
<html lang="zxx" >
   
  <head>
    
    <meta charset="UTF-8" />
    <meta name="description" content="Ogani Template" />
    <meta name="keywords" content="Ogani, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MatDongSan</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="/assets/css/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/elegant-icons.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/assets/css/nice-select.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/assets/css/jquery-ui.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/owl.carousel.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/slicknav.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <div layout:fragment="content">
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="header__logo">
              <a href="./main.html"
                ><img src="/assets/img/logo.png" alt=""
              /></a>
            </div>
          </div>
          <div class="col-lg-6">
            <nav class="header__menu">
              <ul>
                <li><a th:href="@{/main}">Home</a></li>
                <li class="active"><a th:href="@{/main}">Shop</a></li>
                <li><a th:href="@{/board/list}">FORUM</a></li>
                <li><a th:href="@{/member/profile}">MEMBER</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3">
            <div class="header__cart">
              <ul>
                <li>
                  <a th:href="@{/market/cart}">
                    <i class="fa fa-shopping-bag"></i>
                  </a>
                </li>
              </ul>
              <div class="header__top__right__auth">
                <!-- 로그인하지 않은 사용자를 위한 Login 버튼 -->
                <a th:href="@{/member/login}" sec:authorize="!isAuthenticated()">
                  <i class="fa fa-user"></i>
                  Login
                </a>
  
                <a sec:authorize="isAuthenticated()">
                  <div>
                    <div
                      id="profileForm"
                      class="profile-photo"
                      style="display: flex; align-items: center; gap: 5px"
                    >
                      <img
                        alt=""
                        th:src="|/member/display?fileName=${#authentication.principal.memberDto.memberImageDto.getImageURL()}|"
                        loading="lazy"
                        th:if="${#authentication.principal.memberDto.memberImageDto != null}"
                        style="
                          width: 50px;
                          height: 50px;
                          border-radius: 50%;
                          object-fit: cover;
                        "
                      />
                      <img
                        alt=""
                        th:src="@{/images/default-profile.png}"
                        loading="lazy"
                        th:if="${#authentication.principal.memberDto.memberImageDto == null}"
                        style="
                          width: 50px;
                          height: 50px;
                          border-radius: 50%;
                          object-fit: cover;
                        "
                      />
                      <div
                        class="absolute inset-0 rounded-full shadow-inner"
                        aria-hidden="true"
                      ></div>
                      <a
                        th:href="@{/member/profile}"
                        th:text="${#authentication.principal.memberDto.nickname + ' 님'}"
                        style="margin-left: 5px"
                      ></a>
                    </div>
                  </div>
  
                  <!-- 로그인한 사용자를 위한 Log out 버튼 -->
                  <a th:href="@{/member/logout}">
                    <i class="fa fa-sign-out"></i>
                    Log out</a
                  >
                </a>
              </div>
            </div>
          </div>

        </div>
        <div class="humberger__open">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </header>
    <!-- Header Section End -->
   
    <!-- Hero Section Begin -->

    <section class="hero hero-normal">
      <div class="container">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-9">
            <div class="hero__search">
              <div class="hero__search__form">
                <form th:action="@{/market/list}" method="get">
                  <div class="hero__search__categories">Search Product</div>

                  <input
                    type="text"
                    name="keyword"
                    placeholder="검색어를 입력하세요"
                    th:value="${param.keyword}"
                  />
                  <input type="hidden" name="type" value="n" />

                  <button type="submit" class="site-btn">SEARCH</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section
      class="breadcrumb-section set-bg"
      data-setbg="/assets/img/breadcrumb.jpg"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="breadcrumb__text">
              <h2>Organi Shop</h2>
              <div class="breadcrumb__option">
                <a href="./index.html">Home</a>
                <span>Shop</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <div class="product spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-5">
            <div class="sidebar">
              <div class="sidebar__item">
                <h4>CATEGORY</h4>
                <ul>
                  <!-- <li><a th:href="@{/market/list}">전체</a></li> -->
                  <li>
                    <a th:href="@{/market/list(cateid=3)}"
                      >정육 • 가공육 • 계란</a
                    >
                  </li>
                  <li><a th:href="@{/market/list(cateid=1)}">채소</a></li>
                  <li>
                    <a th:href="@{/market/list(cateid=2)}">과일 • 견과 • 쌀</a>
                  </li>
                  <li><a th:href="@{/market/list(cateid=4)}">수산 • 해산 • 건어물</a></li>
                  <li><a th:href="@{/market/list(cateid=5)}">면 • 양념 • 오일</a></li>
                  <li><a th:href="@{/market/list(cateid=6)}">생수 • 음료</a></li>
                  <li><a th:href="@{/market/list(cateid=7)}">간식 • 베이커리</a></li>
                  <li><a th:href="@{/market/list(cateid=8)}">유제품</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-md-7">
            <div th:if="${result.dtoList.isEmpty()}">
              <p>선택한 카테고리에 상품이 없습니다.</p>
            </div>
            <div th:if="${not result.dtoList.isEmpty()}">
              <div class="row">
                <div
                  class="col-lg-4 col-md-6 col-sm-6"
                  th:each=" dto: ${result.dtoList}"
                >
                  <div class="product__item">
                    <div class="product__item__pic set-bg">
                      <a th:href="@{/market/details(pid=${dto.pid})}"
                        ><img
                          th:src="@{/assets/img/product/product/product-__${dto.pid}__.jpg}"
                        />
                      </a>
                      <ul class="product__item__pic__hover">
                        <li>
                          <a
                            href="#"
                            class="add-to-cart"
                            th:data-pid="${dto.pid}"
                          >
                            <i class="fa fa-shopping-cart"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="product__item__text">
                      <h6>
                        <a
                          th:href="@{/market/details(pid=${dto.pid})}"
                          th:text="${dto.name}"
                        ></a>
                      </h6>
                      <h5
                        th:href="@{details(pid=${dto.pid})}"
                        th:text="${dto.price}"
                      ></h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product__pagination">
                <nav aria-label="...">
                  <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${result.prev}">
                      <a
                        class="page-link"
                        th:href="@{list(cateid=${cateid}, page=${result.start-1},size=${result.size})}"
                      ></a>
                    </li>
                    <li
                      th:class="'page-item ' + ${result.page == page ? 'active':''}"
                      aria-current="page"
                      th:each="page : ${result.pageList}"
                    >
                      <a
                        class="page-link"
                        th:href="@{list(cateid=${cateid}, page=${page},size=${result.size})}"
                        th:text="${page}"
                      ></a>
                    </li>
                    <li class="page-item" th:if="${result.next}">
                      <a
                        class="page-link"
                        th:href="@{list(cateid=${cateid}, page=${result.end+1},size=${result.size})}"
                      ></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!-- Product Section End -->

    <!-- Js Plugins -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/jquery.slicknav.js"></script>
    <script src="/assets/js/mixitup.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
  <th:block layout:fragment="script">
    <script>
      $(document).ready(function () {
        $(".add-to-cart").click(function (e) {
          e.preventDefault(); // 기본 이동 방지
          var pid = $(this).data("pid");

          $.ajax({
            type: "POST",
            url: "/market/cart",
            data: { pid: pid, quantity: 1 },
            success: function () {
              window.location.href = "/market/cart";
            },
            error: function () {
              alert("장바구니 추가에 실패했습니다.");
            },
          });
        });
      });
    </script>
  </th:block>
</html>
